
<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{branch.title}}">
  <ion-content has-header="true" class="branch-detail">
    <h2 class="branch-title">{{branch.title}}</h2>

    <div class="branch-info" padding="true">
      
      <div class="row responsive-sm tease">
        <div class="col">
          <img class="full-image" ng-src="{{branch.field_image}}" />
        </div>
        <div class="col">
          <a href="tel:{{branch.phoneNumber}}">
            <button class="button button-calm button-large icon-left ion-ios7-telephone">
              {{branch.phone}}
            </button>
          </a><br /><br />
          <div ng-bind-html="branch.body"></div>
        </div>
      </div>
      <div class="row responsive-sm info">
        <div class="col">
          <h3>Hours</h3>
          <div class="hours">
            {{branch.field_project_info}}
          </div>
        </div>
        <div class="col">
          <h3>Staff</h3>
          <div class="staff">
            {{branch.field_staff}}
          </div>
        </div>
        <div class="col">
          <h3>Location</h3>
          <div class="location">
            {{branch.street}}<br />
            {{branch.city}}, {{branch.province}} {{branch.postal_code}}<br /><br />
            <button ng-click="launchMap(branch)" class="button button-calm button-large icon-left ion-navigate">View Map</button>
          </div>
        </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>
