<ion-view title="Dashboard">
  <ion-content class="has-header padding home-buttons">

    <div class="row responsive-sm">
      <div class="col">
        <a href="#/tab/search" class="home-button button button-block button-calm"><i class="icon ion-search"></i><br />Catalog/My Account</a>
      </div>
      <div class="col">
        <a href="#/tab/branches" class="home-button button button-block button-calm"><i class="icon ion-pin"></i><br />Branches</a>
      </div>
    </div>
    <div class="row responsive-sm">
      <div class="col">
        <a href="#/tab/events" class="home-button button button-block button-calm"><i class="icon ion-calendar"></i><br />Events</a>
      </div>
      <div class="col">
        <a href="#/tab/resources" class="home-button button button-block button-calm"><i class="icon ion-stats-bars"></i><br />Resources</a>
      </div>
      
    </div>

  </ion-content>
</ion-view>
