<ion-view title="Events">
  <ion-content class="has-header">
    <div ng-repeat="event in events" type="item-text-wrap">
      <div class="list card">
        <div class="item item-divider">
          <h2>{{event.title}}</h2>
        </div>
        <div class="item item-body item-text-wrap">
          <p>{{event.date}}</p>
          <p>{{event.body}}</p>
          <a ng-click="openEvent(event.eid)" class="button icon-right ion-chevron-right button-positive">Learn More</a>
        </div>
        <div class="item tabs tabs-icon-left">
          <div class="tab-item">
            <i class="icon ion-location"></i>
            {{event.location}}
          </div>
          <div class="tab-item">
            <i class="icon ion-ios7-pricetags"></i>
            {{event.type}}
          </div>
          <div class="tab-item">
            <i class="icon ion-ios7-people"></i>
            {{event.age}}
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
