<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <ion-tab title="Home" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Branches" icon="icon ion-pin" href="#/tab/branches">
    <ion-nav-view name="tab-branches"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Events" icon="icon ion-calendar" href="#/tab/events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Search" icon="icon ion-search" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>


</ion-tabs>
